%ul
  - @photos.each do |photo|
    %li
      %a{:href => photo['url'].gsub(/(.+)sizes\/l\/$/, '\1')}
        %img{:alt => "", :height => photo['height'], :src => photo['source'], :width => photo['width']}
