
%ul
  - @photos.each do |photo|
    - url = flickr_url(photo)
    %li
      %a{:href => url}
        %img{:src => url}
      %h3
        %a{:href => "http://flickr.com/#{photo['owner']}/#{photo['id']}"}
          = photo['title']
