!!! strict
%html
  %head
    %title Stream Slide

    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css', :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/main.css', :type => "text/css"} 
    
  %body 
    #wrapper
      #header
        %h1 
          %a{:href => "/"} Stream Slide
        %p We have streams of slides
        
      #page
        #tags
          %p Add tags for search:
          %form{:action => "/", :method => "post"}
            - inputs = 1
            - while inputs != 10
              %input{:type => "text", :name => "tag#{inputs}", :value => ""}
              - inputs = inputs + 1 

            %input.submit{:type => "submit", :value => "Slide!"}
        #images
          = yield
