!!! strict
%html
  %head
    %title Stream Slide

    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css', :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/main.css', :type => "text/css"} 
    
  %body 
    #wrapper
      #header
        %h1 
          %a{:href => "/"} Stream Slide
        %p We have streams of slides
        
      #page
        #tags
          %p Add tags for search:
          %form{:action => "/", :method => "post"}
            - inputs = 1
            - while inputs != 10
              %input{:type => "text", :name => "tag#{inputs}", :value => ""}
              - inputs = inputs + 1 

            %input.submit{:type => "submit", :value => "Slide!"}
        #images
          = yield

  // Google jQuery hosting - http://code.google.com/apis/ajaxlibs/
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js", :type => "text/javascript"}
  
  // CrossSlide - http://www.gruppo4.com/~tobia/cross-slide.shtml
  %script{:src => "/javascripts/jquery.cross-slide.js", :type => "text/javascript"}
  
  // Run scripts
  %script{:src => "/javascripts/go.js", :type => "text/javascript"}
