!!! strict
%html
  %head
    %title Stream Slide
    
    %script{:type => "text/javascript"} if (window.location.hash) {window.location = "/" + window.location.hash.replace(/#()/, '');}

    %link{:href => versioned_stylesheet("reset"), :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    
    %link{:href => versioned_stylesheet("main"), :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}

    // Google jQuery hosting - http://code.google.com/apis/ajaxlibs/
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js", :type => "text/javascript"}

    // CrossSlide - http://www.gruppo4.com/~tobia/cross-slide.shtml
    %script{:src => versioned_javascript("jquery.cross-slide"), :type => "text/javascript"}

    // Run scripts
    %script{:src => versioned_javascript("go"), :type => "text/javascript"}    
      
  %body 
    #wrapper
      #header
        %h1 
          %a{:href => "/"} Stream Slide
        %form{:action => "/", :method => "post"}
          %label{:for => "tags"} Add comma-separated tags for search:  
          %input{:id => "tags", :name => "tags", :type => "text",  :value => @tags}
            %input.submit{:type => "submit", :value => "Slide!"}
        %span#permalink
          [
          %a{:href => @tags.gsub(/\s/, '')} Permalink
          ]
      #page
        #images
          = yield
      
      #footer
        %p We have streams of slides.
  
  / reinvigorate tracking code
  %script{ :type => "text/javascript",  :src => "http://include.reinvigorate.net/re_.js"}
  %script{ :type => "text/javascript"} re_("c9e9a-mx3780v689");

