/****
Streamslide
http://streamslide.com
20090206

TOC
- =Generic Rules
	-- =Generic Text
		 --- =Links
		 --- =Headings
		 --- =Body Text
- =Structure
	-- =Main Content
		 --- =Content
	-- =Footer
- =JS Enabled

****/


/* - =JS disabled - */
#images ul li {margin: 0 0 10em 0;}

/* - =Generic Rules - */

	/* -- =Generic Text -- */

		/* --- =Links --- */
		a:link {color: #F00;}
		a:visited {color: #fff;}
		a:hover, a:active, a:focus {color: #0F0;}
		
		/* --- =Headings --- */
		h1 {font: 300 2.25em 'Helvetica Neue', Helvetica, Arial, sans-serif;}

/* - =Structure - */
body {background: #000; color: #fefefe; font: 62.5%/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;}

#wrapper {font-size: 1.6em;}
    
    #header {margin: 0 0 1em 0; overflow: auto;}
        #header h1 {float: left; margin: 0.13em 0.4em 0 0.4em; width: auto;}
            #header h1 a {display: block;}
        #header form {float: left; line-height: 2.3em; margin: 0.85em 1em 0 0; width: 60%;}
            #header form input {width: 50%;}
            #header form input.submit {width: auto;}
        #permalink {display: block; font-size: 0.8em; margin: 1.9em 0 0 0;}
        
    #page {position: relative; padding: 0 12em 0 12em;}

        #images {text-align: center;}
            html.js #images ul {height: 1024px; width: 1024px; margin: 0 auto;}
                html.js #images ul li {margin: 0;}
                    html.js #images img {margin: 0 auto;}
                
                
    #footer {background: #000; color: #888; margin: 2em 0 1em 0; text-align: center;}
